<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937888834443-j477ocbfvrj1n6eqcggo47degjig9por.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937888834443-j477ocbfvrj1n6eqcggo47degjig9por</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>937888834443-iikj8j3a1ml7p4i2g6ru1mnd4dqsvpdg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHI1zU5e3lOgUt00mfft6GceKxoXWAPiY</string>
	<key>GCM_SENDER_ID</key>
	<string>937888834443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scaleup.cloudtrackerapp</string>
	<key>PROJECT_ID</key>
	<string>scaleupprojecttracker</string>
	<key>STORAGE_BUCKET</key>
	<string>scaleupprojecttracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937888834443:ios:4636a4f4d908fb76dc058e</string>
	<key>DATABASE_URL</key>
	<string>https://scaleupprojecttracker-default-rtdb.firebaseio.com</string>
</dict>
</plist>